.todo-list-enter {
  opacity: 0;
  transform: translateX(-20px);
}

.todo-list-leave-to {
  opacity: 0;
  transform: translateX(20px);
}

.todo-list-enter-to,
.todo-list-leave {
  opacity: 1;
  transform: translateX(0);
}

.todo-item {
  transition: opacity 300ms ease, transform 300ms ease;
}

/* 以下は見栄えを整えるためのスタイル */
.new-todo {
  border: 1px solid #ccc;
  padding: 30px;
}

.new-todo-item + .new-todo-item {
  margin-top: 15px;
}

.new-todo-item {
  display: flex;
}

.new-todo-item > label {
  flex-basis: 5em;
}

.new-todo-item > input[type='text'],
.new-todo-item > textarea {
  flex-grow: 1;
  font-size: inherit;
  border: 1px solid #ccc;
  padding: 0.5em;
}

.new-todo-category {
  margin-top: 20px;
  background-color: #f0f0f0;
  padding: 20px;
}

.new-todo-action {
  margin-top: 20px;
}

.new-todo-action > form {
  text-align: center;
}

.todo-search {
  display: flex;
  margin-top: 20px;
}

.todo-search-item + .todo-search-item {
  border-left: 1px solid #ccc;
  margin-left: 20px;
  padding-left: 20px;
}

.todo-list {
  border: 1px solid #ccc;
  padding: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  padding: 20px;
}

.todo-item + .todo-item {
  border-top: 1px solid #ccc;
}

.todo-item-content {
  flex-grow: 1;
  margin-left: 15px;
}

.todo-item-date {
  font-size: 0.9em;
}

.todo-item-title {
  margin: 0.3em 0;
}

.todo-item-description {
  background-color: #f0f0f0;
  padding: 1em;
}

.todo-item-categories {
  margin-top: 10px;
}
