<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>ToDo アプリ</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@3.0.0/dist/vue.global.js"></script>
  </head>
  <body>
    <h1>ToDo アプリ</h1>
    <div id="app">
      <div class="new-todo">
        <div class="new-todo-item">
          <label for="new-todo-title">タイトル</label>
          <input v-model="todoTitle" type="text" id="new-todo-title" />
        </div>
        <div class="new-todo-item">
          <label for="new-todo-description">説明</label>
          <textarea
            v-model="todoDescription"
            id="new-todo-description"
          ></textarea>
        </div>
      </div>
      <div>
        <div class="todo-search">
          <div class="todo-search-item">
            <label for="todo-search-done"
              >終了したものを非表示にする<input
                v-model="hideDoneTodo"
                type="checkbox"
                id="todo-search-done"
            /></label>
          </div>
          <div class="todo-search-item">
            <label for="todo-search-keyword">キーワードで検索</label>
            <input v-model="searchWord" type="text" id="todo-search-keyword" />
          </div>
        </div>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
