<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Vue.js クイズ</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css"
      integrity="sha256-aPeK/N8IHpHsvPBCf49iVKMdusfobKo2oxF8lRruWJg="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="app" class="container">
      <div class="columns is-mobile is-centered">
        <div class="column is-half">
          <h1 class="title is-1 has-text-centered">Vue.js クイズ</h1>
          <qa-template
            v-if="currentQuestion"
            :question-text="currentQuestion.text"
            @click-yes-btn="doAnsewer($event)"
            @click-no-btn="doAnsewer($event)"
          ></qa-template>
          <result-template
            v-if="!currentQuestion"
            :total-score="totalScore"
            :questions="questions"
            :your-answers="yourAnswers"
            @click="doRestart"
          ></result-template>
        </div>
      </div>
    </div>

    <script type="text/x-template" id="qa-template">
      <div class="box">
        <div class="content">
          <p class="is-size-4">Q: {{ questionText }}</p>
          <div class="columns">
            <div class="column">
              <button
                class="button is-fullwidth is-success"
                @click="onClickYesBtn"
              >
                YES
              </button>
            </div>
            <div class="column">
              <button
                class="button is-fullwidth is-warning"
                @click="onClickNoBtn"
              >
                NO
              </button>
            </div>
          </div>
        </div>
      </div>
    </script>

    <script type="text/x-template" id="result-template">
      <div class="box">
        <div class="content has-text-centered">
          <h2 class="title">結果発表</h2>
          <table class="table is-bordered">
            <tr>
              <th v-for="(q, index) in questions">
                Q{{ index + 1 }}
              </th>
            </tr>
            <tr>
              <td
                v-for="correct in corrects"
                :class="getCorrectClassName(correct.cd)"
              >
                {{ correct.value }}
              </td>
            </tr>
          </table>
          <p>あなたの得点は...</p>
          <p
            v-if="isPerfect"
            class="has-text-weight-bold"
          >
            すごい！全問正解です！
          </p>
          <p>
            <strong class="is-size-2 has-text-danger">{{ totalScore }}</strong>/{{ maxPoint }}点でした！
          </p>
          <button
            class="button is-fullwidth is-info has-text-weight-bold"
            @click="onClick"
          >
            最初からやり直す
          </button>
        </div>
      </div>
    </script>

    <script src="https://cdn.jsdelivr.net/npm/vue@3.0.0/dist/vue.global.js"></script>
    <script src="./app.js"></script>
  </body>
</html>
