<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Vue.js　サンプル</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@3.0.0/dist/vue.global.js"></script>
  </head>

  <body>
    <div id="app">
      <div>
        <input
          type="checkbox"
          id="category-1"
          v-model="todoCategories"
          value="category-1"
        />
        <label for="category-1">category-1</label>
      </div>
      <div>
        <input
          type="checkbox"
          id="category-2"
          v-model="todoCategories"
          value="category-2"
        />
        <label for="category-2">category-2</label>
      </div>
      <div>
        <input
          type="checkbox"
          id="category-3"
          v-model="todoCategories"
          value="category-3"
        />
        <label for="category-3">category-3</label>
      </div>
      <p>{{ todoCategories }}</p>
    </div>
    <script src="sample2.js"></script>
  </body>
</html>
